@charset "UTF-8";

.container {
}

.navbar {
    font-size: 30px;
    font-weight: 700;
    width: 300px;
    height: 100%;
    background-color: #3498db;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    position: fixed;
    z-index: 998;
}

.navbar ul {
    width: 100%;
}

.navbar ul li {
    list-style: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.navbar ul li.active {
	background-color: #f1c40f;
}

.navbar ul li:hover {
    background-color: #f1c40f; 
}

.navbar ul li:last-child {
    background-color: #c0392b;
}

.navbar ul li:last-child:hover {
    background-color: #e74c3c;
}



.ajax-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0 5px 0 305px;
}

.ajax-container h1 {
    /* border-bottom: 1px solid #3498db; */
    text-align: center;
    font-size: 50px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.tool {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    line-height: 30px;
}

.ajax-container button {
    width: 50px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.4s;
    color: white;
    border-radius: 3px;
}

.ajax-container button.add {
    background-color: #2980b9;
}

.ajax-container button.modify {
    background-color: #27ae60;
}

.ajax-container button.delete {
    background-color: #c0392b;
}

.ajax-container button.info {
    background-color: #3c40c6;
}

.ajax-container button.add:hover {
    background-color: #00a8ff;
}

.ajax-container button.modify:hover {
    background-color: #4cd137;
}

.ajax-container button.delete:hover {
    background-color: #e84118;
}

.ajax-container button.info:hover {
    background-color: #34e7e4;
}

.tool select {
    height: 100%;
    font-size: 20px;
}

.slide-table {
    position: relative;
    height: inherit;
    overflow: hidden;
}

.slide-table i.fas.fa-chevron-left, 
.slide-table i.fas.fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    font-size: 25px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: #2f3640;
    border-radius: 50%;
    z-index: 997;
}

.slide-table i.fas.fa-chevron-left {
    left : 10px
}

.slide-table i.fas.fa-chevron-right {
    right: 10px;
}

.slide-table i.fas.fa-chevron-left:hover, 
.slide-table i.fas.fa-chevron-right:hover {
    background-color: #487eb0;
}

.slide-table .number {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    z-index: 997;
}

.slide-table .number span {
    background-color: #2f3640;
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.4s;
}

.slide-table .number span.active {
	background-color: #487eb0;
}

.slide-table .number span:hover {
    background-color : #487eb0;
}

.slide-table table {
    border-collapse: collapse;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 996;
}

.slide-table table td,
.slide-table table th {
    height: 50px;
    text-align: center;
    font-size: 20px;
}


.slide-table table.active {
    left: 0;
}

/* next */
.move-next-active {
	animation : move-next-active 0.5s ease-in-out;
}

@keyframes move-next-active {
	from {
		left : 0%;
	}
	to {
		left : -100%;
	}
}

.move-next-next {
	animation : move-next-next 0.5s ease-in-out;
}

@keyframes move-next-next {
	from {
		left : 100%;
	}
	to {
		left : 0%;
	}
}

/* pre */
.move-pre-active {
	animation : move-pre-active 0.5s ease-in-out;
}

@keyframes move-pre-active {
	from {
		left : 0%;
	}
	to {
		left : 100%;
	}
}

.move-pre-pre {
	animation : move-pre-pre 0.5s ease-in-out;
}

@keyframes move-pre-pre {
	from {
		left : -100%;
	}
	to {
		left : 0%;
	}
}

.add-form,
.add-song-box {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 450px;
    background-color: #00a8ff;
    padding: 14px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.4;
    opacity: 0;
    visibility: hidden;
}

.add-song-box {
	z-index: 1002;
}

.add-form-appear {
	opacity: 1;
    visibility: visible;
}

.add-form h2,
.add-song-box h2 {font-size: 35px;text-transform: capitalize;margin-bottom: 10px;position: relative;}

.add-form h2 i,
.add-song-box h2 i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    color: #e84118;
    cursor: pointer;
    transition: all 0.4s;
}


.add-form h2 i:hover,
.add-song-box h2 i:hover {
    transform: translateY(-50%) rotate(360deg);
}

.add-form .input-container div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.add-form .input-container div input, .add-form .input-container div textarea, .add-form select {
    height: 25px;
    font-size: 20px;
    padding-left: 4px;
    padding-right: 28px;
    border: none;
    outline: none;
    width: 250px;
}

.add-form button {
    background-color: #e1b12c;
    width: fit-content;
    padding: 0px 5px;
}

.add-form button:hover {
    background-color: #ffd32a;
}

.add-form .input-container div i {
    position: absolute;
    left: 148px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}

.sort-btn {
    background-color: #3742fa;
}

.sort-btn:hover {
    background-color: #1e90ff;
}

.add-form .input-container div textarea {
	resize: none;
	height : 100px;
}

.slide-table table img {
	height: inherit;
	width: 100px;
}

.add-form .input-container div div {
    margin: 0;
    height: 150px;
    flex-direction: row;
    overflow-y: auto;
    align-items: center;
    justify-content: space-around;
}

.add-form .input-container div div input {
	height: 20px;
	margin: 2px 0;
	position: relative;
}


.add-form .input-container div div input:after {
    content: attr(data-name);
    position: absolute;
    right: -30%;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px 0;
    padding: 3px;
    border: 1px solid;
    height: 48px;
    line-height: 40px;
}

.songs {
    max-height: 500px;
    overflow-y: auto;
}

.songs p {
    height: 40px;
    overflow-y: auto;
    width: 350px;
}

.selected {
	background-color: #ff3f34;
}

div#search-result-container {
	width: 500px;
	max-height: 400px;
	position: absolute;
	left: 50%;
	top: 70px;
	transform: translateX(-50%);
	color: white;
	z-index: 999;
	background-color: #282828;
	padding: 10px 20px;
	text-align: left;
	overflow: overlay;
	display: none;
}

div#search-result-container.appear {
	display: block;
}

div#search-result-container i {
    color: white;
}

div#search-result-container div.song {
    max-height: 50px;
    cursor: pointer;
    width: 100%;
    overflow: overlay;
}


.tool i.fas.fa-search {
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.tool input {
    height: 40px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    font-size: 18px;
    padding-left: 5px;
    z-index: 1;
    outline: none;
    display: none;
}

.tool input.appear {
	display: block;
}

div#search-result-container table {
    table-layout: fixed;
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
}

div#search-result-container table tr {
	padding: 5px 0px;
	transition: 0.4s all;
}

div#search-result-container table tr:hover {
	background-color: rgba(255,255,255,.15);
}

div#search-result-container table td:nth-child(3) {
    text-align: center;
}