@charset "UTF-8";
 
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: arial;
}

body, 
html {
    min-width : 480px;
}

body, 
html,
.container {
	width: 100%;
	height: 100%;
	background-color: #0D021A;
	position: relative;
	background: #7F00FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.ajax-container {
	padding: 0 100px;
	/* height: 100%; */
	max-height: fit-content;
	min-height: 100%;
}

div#header, div#footer {
    width: 100%;
    height: 60px;
    background-color: #49a09d;
    color: #f7f7f7;
    font-size: 20px;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#header {
	position: relative;
}

div#header.fixed {
	position : fixed;
	top: -100%;
	left: 0%;
	box-shadow: -2px 8px 6px #888888;
	animation: header-fixed 0.2s forwards;
	z-index: 998;
}

@keyframes header-fixed {
	from {
        position : fixed;
	    top: -100%;
	    left: 0%;
	}
	to {
        position : fixed;
	    top: 0%;
	    left: 0%;
	}
}

div.logo {
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s all;
}

div#header li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    transition: 0.4s all;
}

div#header li.active {
	color: #ff5200;
}

div#header li#closeNavbar-button {
	display: none;
	color: #c23616;
	font-size: 40px;
	transform: rotate(0deg);
}

div#header li#closeNavbar-button:hover {
	color : #ff3838;
	transform: rotate(360deg);
}

div.logo:hover,
div#header li:hover,
div#navbar-toggle:hover,
.links span:hover {
	color: #ff5200;
}

div#header li#user {
    position: relative;
}

div#header li#user div#user-box {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #30475e;
    padding: 10px;
    transition: 0.4s all;
    z-index: 1;
    display: none;
}

div#header li#user div#user-box button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    margin: 5px 0;
    transition: 0.4s all;
    background-color: #f57b51;
    text-align: center;
}

div#header li#user div#user-box button:hover {
    background-color: #ffd31d;
}

div#search-box {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    text-align: center;
    transition: 0.4s all;
    overflow: hidden;
    z-index: 998;
}

div#search-box input {
    height: inherit;
    border: none;
    width: 80%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    outline: none;
}

div#search-box i {
	color: #3f3f44;
	cursor: pointer;
}

div#navbar-toggle {
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s all;
    display: none;
}

div#navbar-toggle.appear, 
div#header li#user div#user-box.appear {
	display: inline-block;
}

div#search-box.appear {height: 50px;overflow: inherit;}

div#search-result-container {
	width: 80%;
	max-height: 400px;
	position: absolute;
	left: 50%;
	top: 50px;
	transform: translateX(-50%);
	color: white;
	z-index: 1000;
	background-color: #282828;
	padding: 10px 20px;
	text-align: left;
	overflow: overlay;
}

div#footer {flex-direction: column;height: fit-content;padding: 5px 0 0 0;}

.footer-info {
	width: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.links span {
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.4s;
}

.footer-copyright {
    background-color: #3f3f44;
    width: inherit;
    padding: 10px 100px !important;
    text-align: center;
}

.footer-info, .footer-copyright {
    padding: 0 100px;
}

/* reponsive navbar */
@media screen and (max-width: 686px) {
    div#navbar-toggle {
    	display: inline-block;
    }

    ul#navbar {
    	position: fixed;
    	left: -100%;
    	top: 0%;
    	width: 300px;
    	height: 100%;
    	background-color: #30475e;
    	transition: 0.4s all;
    	z-index: 1000;
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    }

    ul#navbar.appear {
    	left: 0%;
    }

    div#header li {
    	margin: 5px 0;
    	font-size: 25px;
    }

    div#header li#closeNavbar-button {
    	display: block;
    	position: absolute;
    	top: 0px;
    	right: 10px;
    }

    div#header li#genre div#genres-box {
    	width: 200px !important;
    }
}
/* end responsive navbar  */

/* reponsive footer */
@media screen and (max-width: 570px) {
	div.footer-info div.logo,
	div.footer-info div.links {
		margin : 5px auto;
		text-align: center;
	}
}
/* end reponsive footer */

@media screen and (max-width: 660px) {
	div.top-song.top h1 span{
	    display: block;
        position: relative !important;
        margin: 10px;
	}

	div#play-list-songs {
		width: 90vw;
	}
}

/* reponsive play bar container */
@media screen and (max-width : 812px) {
	div#play-bar-container {
		flex-direction: column;
		overflow-y: overlay;
	}

	div#play-bar-container div.song {
		order: 2;
		overflow-x: initial !important;
	}
}

@media screen and (max-width : 500px) {
	div#play-control {
		width: 90vw !important;
	}
}
/* end reponsive play bar container */

/* home div.artists img, div.albums img,*/
div.top img, 
div.artists img, 
div.albums img,
div.top div.img {
    width: 100px;
    height: 100px;
}

div.top div.img {
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darkviolet;
}

div.top {
    position: relative;
    text-align: center;
    height: 222px;
    overflow-x: hidden;
    margin: 10px 0px;
}


div.top h1, div.artist-popup, div.songs-popup {
    color: white;
    letter-spacing: 3px;
}

div.top .fas.fa-chevron-left,
div.top .fas.fa-chevron-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.4s;
	font-size: 20px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: white;
	background-color: #2f3640;
	border-radius: 50%;
	z-index: 997;
}

div.top .fas.fa-chevron-left {
    left: 2px;
}

div.top .fas.fa-chevron-right {
    right: 2px;
}

div.top .fas.fa-chevron-left:hover, 
div.top .fas.fa-chevron-right:hover {
    background-color: #487eb0;
}

.frame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 184px;
    overflow-y: overlay;
    left: -100%;
    color: white;
}

.frame.active {
	left: 0;
}

/* next */
.move-next-active {
	animation : move-next-active 0.5s ease-in-out;
}

@keyframes move-next-active {
	from {
		left : 0%;
	}
	to {
		left : -100%;
	}
}

.move-next-next {
	animation : move-next-next 0.5s ease-in-out;
}

@keyframes move-next-next {
	from {
		left : 100%;
	}
	to {
		left : 0%;
	}
}

/* pre */
.move-pre-active {
	animation : move-pre-active 0.5s ease-in-out;
}

@keyframes move-pre-active {
	from {
		left : 0%;
	}
	to {
		left : 100%;
	}
}

.move-pre-pre {
	animation : move-pre-pre 0.5s ease-in-out;
}

@keyframes move-pre-pre {
	from {
		left : -100%;
	}
	to {
		left : 0%;
	}
}

.frame-element p {
    font-size: 18px;
    color: white;
    padding: 0 5px;
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
}

.frame-element {
    width: 220px;
    /* border: 1px solid; */
    padding: 5px;
    background-color: #355C7D;
    font-size: 18px;
    height: 180px;
    margin: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: overlay;
}

.more span:nth-child(1),
.more span:nth-child(3),
div#top-genre .more span:nth-child(2),
div.song-more-options i {
    cursor: pointer;
    transition: 0.4s all;
}

div#top-genre .more span:nth-child(1) {
	cursor: inherit;
}

div#top-genre .more span:nth-child(1):hover {
	color:white !important;
}

.more span:nth-child(1).liked {
	color: #eb4d4b;
}

.more span:nth-child(1):hover,
div.song-more-options i:hover {
	color: #eb4d4b;
}

.more span:nth-child(3):hover,
div#top-genre .more span:nth-child(2):hover {
	color: #0652DD;
}

.genres {
    margin: 2px;
}

.genres a {
    text-decoration: none;
    transition: 0.4s all;
    color: aqua;
}

.genres a:hover {
	text-decoration: underline;
}

div.img-container {
	width: 60px;
    height: 60px;
    margin-right: 10px;
    position: relative;
}

div.song img,
div.comment img {
    width: 60px;
    border-radius: 10px;
    height: 60px;
}

div.comment img {
	border-radius :50%;
	margin-right: 10px;
}

div.song, div.comment {
    width: 500px;
    display: flex;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: left;
}

div.song.active {background-color: rgba(255,255,255,.15);}

div.song p:nth-child(1) {
    font-size: 17px;
    padding-right: 35px;
    /* height: 42px; */
    overflow: auto;
}

div.song p:nth-child(2) {
    opacity: 0.6;
}

div.songs button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

div.top-song.top h1 span, div.artist-popup h1 span {
    font-size: 18px;
    letter-spacing: 0px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

div.top-song.top h1, div.artist-popup h1 {
    position: relative;
}

div.top-song.top {
    overflow: hidden;
    height: 30%;
}

div.songs, div.songs {
    overflow-y: overlay;
    /* height: 468px; */
}	

.artist-popup, div.songs-popup, div.song-comments, div.song-lyric {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #5f2c82;
    padding: 10px;
    width: 60%;
    min-width: 400px;
    z-index: 1000;
    display: none;
}

.artist-popup h1 {
	text-align: center;
}

.artitst-info img {
    width: 200px;
    height: 200px;
}

.artitst-info {
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.artitst-info p:nth-child(1) {
    word-break: break-all;
    width: fit-content;
    letter-spacing: 1px;
    max-height: 180px;
    overflow: auto;
}

.artitst-info p {
	margin-top: 5px;
	color: white;
    font-size: 18px;
    margin-left: 10px;
}

div.songs {
    max-height: 300px;
}

div.song-comments, div.song-lyric {
	background-color: #5f2c82;
	padding: 20px;
}

div.song-comments.active, div.song-lyric.active {
	display: block;
}

div.comments {
	max-height : 450px;
	overflow-y: overlay;
}

.artist-popup.active {
    display: block;
}

.artist-popup.stay {
    display: none;
}

.songs-popup.active {
    display: block;
}

div#header li#genre {
    position: relative;
}

div#header li#genre div#genres-box {
    padding: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #30475e;
    color: #f57b51;
    z-index: 1;
    display: none;
    overflow-y: auto;
}

div#header li#genre div#genres-box.appear {
	display: flex;
}

div#header li#genre div#genres-box span {
    margin: 5px;
    transition: 0.4s all;
}

div#header li#genre div#genres-box span:hover {
    color: #ffd31d;
}

div.songs-popup h1, 
div.song-comments h1, 
div.song-lyric h1 {
    text-align: center;
    margin: 10px 0;
    position: relative;
}

div.song-comments h1, div.song-lyric h1 {
	color: white;
}

div.songs-popup i, div.song-comments i, div.song-lyric i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s all;
}

div.songs-popup i.fa-arrow-alt-circle-left {
    left: 0;
    font-size: 35px;
}

div.songs-popup i.fa-times, 
div.song-comments i.fa-times, 
div.song-lyric i.fa-times {
    right: 0px;
    color: #c23616;
    font-size: 35px;
}

div.songs-popup i.fa-times:hover,
div.song-comments i.fa-times:hover,
div.song-lyric i.fa-times:hover {
	transform: translateY(-50%) rotate(360deg);
}

div.artists, div.albums {
	text-align: center;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-height: 1200px;
	overflow-y: auto;
	margin-bottom: 10px;
}

.artists .frame-element, .albums .frame-element {
    margin: 10px 0;
    flex-basis: 22%;
    min-width: 220px;
}

select.artist-select {
    margin: 10px auto;
    width: 100px;
    display: block;
    height: 25px;
    font-size: 20px;
    border: none;
}

div#play-bar-container {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(50%);
    background-color: #282828;
    width: 100%;
    padding: 5px 100px;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 90px;
    transition: 0.4s all;
}

div#play-bar-container div.song {
    width: 250px;
    max-height: 70px;
    overflow-x: initial;
    word-break: keep-all;
    margin: 0;
}

div#play-bar-container div.song div:nth-child(2) {
	
overflow-y: overlay;
}

div.song:hover {
	background-color: rgba(255,255,255,.15);
}

div#play-control {
    width: 500px;
    text-align: center;
}

div#play-control i, div#play-list i, div.song i.song-more {
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    margin: 0 10px;
}

div#play-control i:hover, 
div#play-list i:hover, 
div.song i.song-more:hover {
    color: #f57b51;
}

div#bar {
    width: initial;
    height: 4px;
    background-color: #535353;
    margin: 15px;
    position: relative;
    cursor: pointer;
}

i#play-play {
	font-size: 35px !important;
}

div#bar::before {
	content: attr(data-before);
	font-size: 12px;
	position: absolute;
	margin: 3px 0;
	left: 0%;
	bottom: 100%;
}


div#bar::after {
	content: attr(data-after);
	font-size: 12px;
	position: absolute;
	margin: 3px 0;
	right: 0%;
	bottom: 100%;
}

div#light {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #4cd137;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    transition: 0.4s;
}

i#play-repeat {
    position: relative;
}

i#play-repeat.repeat {
	color: #f57b51;
}

i#play-repeat.repeat.repeat_one:after {
    content: "1";
    position: absolute;
    font-size: 12px;
    font-family: arial;
    top: 50%;
}

i#play-shuffle.active {
    color: #f57b51;
}

div#play-list {
    position: relative;
}

div#play-list-songs {
    position: fixed;
    right: 50%;
    transform: translateX(50%);
    bottom: 89px;
    background-color: #2d3436;
    padding: 20px;
    z-index: 998;
    display: none;
}

div#play-list-songs.appear {
	display: block;
}

div#play-list-songs div.songs {
    width: 100%;
}

div#play-list-songs div.song {
    width: 500px;
    margin-right: 30px;
}

div.song div.song-more-container {
	align-self: center;
	margin: 0 0 0 auto !important;
	position: relative;
}

div.img-container i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: 60px;
    background-color: black;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: 0.4s all;
    margin: 0 0 !important;
}

div.img-container img {
	cursor: pointer;
}

div.img-container:hover > i{
	opacity: 0.7;
    visibility: visible;
    color: white !important;
}

div.song-more-options {
    position: absolute;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 100%;
    bottom: 50%;
    transform: translateY(50%) translateX(0%);
    text-align: center;
    width: 100px;
    padding: 5px;
    color: white !important;
    font-size: 18px;
    display: none;
}

div.song-more-options.appear {
	display: flex;
}

div.song-more-options i {
    cursor: pointer;
    transition: 0.4s all;
    margin: 0 !important;
    position: relative;
    top: 0;
    transform: translateY(0%);
}

div.comment {
    max-height: 70px;
    overflow-y: overlay;
}

div.comment p:nth-child(1) {
    font-weight: 700;
    margin-bottom: 5px;
}

div.comment p:nth-child(2) {
    font-weight: lighter;
}

div.user-comment-container {
    text-align: center;
    margin: 8px;
}

div.user-comment-container input, div.user-comment-container button {
    height: 25px;
    font-size: 18px;
    border: none;
    outline: none;
}

div.user-comment-container input {
    padding-left: 5px;
    width: 230px;
}

div.user-comment-container button {
    padding: 0 5px;
    cursor: pointer;
    font-weight: 700;
    background-color: #27ae60;
    color: #0D021A;
    transition: 0.4s all;
}

div.user-comment-container button:hover {
    background-color: #2ecc71;
}

i.far.fa-heart.fas {
	color: #eb4d4b;
}

div#search-result-container i {
    margin-right: 10px;
    color: white;
}

div#search-result-container div.song {
    max-height: 50px;
    cursor: pointer;
    width: 100%;
    overflow: overlay;
}

div#play-bar-container.appear {
    transform: translateX(-50%);
}

div#expand-footer {
    height: 90px;
    width: 100%;
    display: none;
}

div#expand-footer.appear {
    display: block;
}

div.artist-popup i.fas.fa-times {
    position: absolute;
    right: 10px;
    color: #c23616;
    font-size: 35px;
    transform: rotate(0deg);
    cursor: pointer;
    transition: 0.4s all;
    height: 40px;
}

div.artist-popup i.fas.fa-times:hover {
	transform: rotate(360deg);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

div.lyric {
	color: white;
	max-height: 400px;
	overflow-y: overlay;
	padding: 0 20px;
	white-space: pre; /* keep the format of text */
}