@charset "UTF-8";

.container {
	position: relative;
	background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.signinup-form {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 480px;
	text-align: center;
	padding: 20px 10px;
	background-color: #5FC3E4;
	border-radius: 5px;
}

.signinup-form h1 {
	font-size: 40px;
	text-transform: uppercase;
	color: #2c3e50;
	margin-bottom: 10px;
}

.signinup-form div.input-container {
	width: 100%;
}

.signinup-form div.input-container div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto;
	width: 250px;
	position: relative;
}

.signinup-form div.input-container div i {
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.signinup-form div.input-container div input {
	width: 100%;
	height: 25px;
	font-size: 20px;
	outline: none;
	border: none;
	padding-left: 30px;
}

button.signinup-btn {
	width: 100px;
	height: 25px;
	font-size: 20px;
	border: none;
	background-color: #27ae60;
	transition: 0.4s;
	cursor: pointer;
}

button.signinup-btn:hover {
	background-color: #4cd137;
}

.name-container, .confirm-password-container {
	display: none !important;
}

.signup {
	display: block !important;
}

p.error {
	margin: 10px 0;
	font-size: 20px;
	color: #e84118;
	font-weight: 700;
	transition: 0.4s;
}

.link {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.link a {
	text-decoration: none;
	font-size: 20px;
	color: #353b48;
	transition: 0.4s;
}

.link a:hover {
	text-decoration: underline;
}